.authorization-form-wrapper {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}
.authorization-form {
    width: 400px;
    padding: 30px 30px 0 30px;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
}