.authorization-form-wrapper {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}
.authorization-form {
    padding: 15px;
    border: 1px solid red;
}