.user-list{
	&-header {
		display: flex;
		align-items: center;
		border: 1px solid black;
		padding: 0px 20px;
		&__item {
			width: 50%;
		}
	}
	&-wrapper {
		background-color: #fff;
	}
	&-title {
		margin-top: 8px;
		padding: 0;
	}
}
