.profile {
    &-wrapper {
        background-color: #fff;
    }
    &-avatar {
        text-align: center;
    }
    &-btn-wrapper {
        text-align: center;
        padding-top: 300px;
        background-color: #fff;
    }
}

