$title-font:'PT Sans', sans-serif;
$simpleText-font:'Alegreya Sans SC', sans-serif;
body {
    font-size: 10px;
    font-family: $simpleText-font;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-logo {
        padding: 0em 0em 0em 6em;
        display: flex;
        align-content: center;
        &__history {
            margin-left: 1em;
        }
    }
}


.logo-imgs {
    height: 5em;
}
.menu-tac {
    display: flex;
    justify-content: center;
    align-items: center;
}