@import "../../assets/styles/index.scss";

body {
    font-size: 10px;
    font-family: $simpleText-font;
}
.header {
    display: flex;
    align-items: center;
    &-logo {
        display: flex;
        align-content: center;
        &__history {
            margin-left: 1em;
        }
    }
}


.logo-imgs {
    height: 40px;
}
.menu {
    justify-content: center;
    align-items: center;
    font-family: $simpleText-font;
    .nav-link {
        color: black;
    }
}
.btn-sign_up {
    margin-left: 20px;
}
.btns-wrapper {
    .wrapper {
        height: 100%;  
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
}

