.description-wrapper {
    background-color: #fff;
    font-size: 22px;
}

.description-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 400px 150px 0px;
}

.contact-us {
    text-align: center;
    padding: 0 150px;
}