.car-card {
    background-color: #fff;
    padding-top: 50px;
    &-wrapper {
        display: flex;
        justify-content: space-between;
    }
    &-left {
        display: flex;
    }
    &-description {
        display: flex;
        margin-left: 30px;
        &-col {
            margin-left: 80px;
        }
        .car-counter {
            margin-left: 10px;
            margin-right: 5px;
        }
        .car-km {
            font-size: 14px;
            font-weight: bold;
        }
    }
    &-info {
        display: flex;
        align-items: flex-end;
    }
}