.title-wrapper {
    padding-top: 30px;
    background-color: #fff;
}

.title-content {
    display: flex;
    // text-align: center;
    justify-content: space-between;
    align-items: center;
    &-item {
        width: 33%;
        text-align: center;
        &:last-child {
            text-align:right;
        }
    }
}